/* .myColor{
    color: violet;
}
.myWriting{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .toggle-form {
    margin-top: 15px;
    text-align: center;
    font-size: 14px;
    color: #333;
  }
  
  .toggle-form a {
    color: #4caf50;
    text-decoration: none;
    cursor: pointer;
  }
  