<!-- <h2 class="myColor myWriting">Ashutosh Rawat</h2> -->
<!-- <h2 [className] = "'myColor myWriting'">Ashutosh Rawat</h2> -->
<!-- <h2 [class] = "'myColor myWriting'">Ashutosh Rawat</h2> -->
<!-- <h2 class ="myWriting" [className] = "'myColor'">Ashutosh Rawat</h2> -->
<!-- <h2 [className] = "cssClass" >Ashutosh Rawat</h2> -->
<!-- <h2 [class.myColor] = "condition">Ashutosh Rawat</h2> -->
<!-- <h2 [class] = "myCall()">Ashutosh Rawat</h2> -->
<!-- <h2 [class] = "condition ? 'myColor' : 'myWriting'">Ashutosh Rawat</h2> -->
<h2 [class] = "(5>0) ? 'myColor' : 'myWriting'">Ashutosh Rawat</h2>





