<p>ng-class-dir works!</p>
<!-- <h2 [ngClass] = "'myColor myWriting'">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "['myColor', 'myWriting']">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "{'myWriting' : condition}">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "{'myColor' : (5>0)}">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "{'myColor' : true, 'myWriting':condition}">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "cssClass">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "cssArray">Ashutosh Rawat intern</h2> -->
<!-- <h2 [ngClass] = "c">Ashutosh Rawat intern</h2> -->
<h2 ngClass = 'myColor myWriting'>Ashutosh Rawat intern</h2>

