<!-- <h2 [style] ="'background-color:olive'">My Self Ashutosh Rawat </h2> -->
<!-- <h2 [style] ="'backgroundColor:orange'">My Self Ashutosh Rawat </h2> -->
<!-- <h2 [style] ="myStyles">My Self Ashutosh Rawat </h2> -->
<!-- <h2 [style.color] ="'green'">My Self Ashutosh Rawat </h2> -->
<!-- <h2 [style.fontSize.px] ="'50'"  
[style.color] ="'green'" 
[style.fontStyle]="'italic'">My Self Ashutosh Rawat </h2> -->
<!-- <h2 [style.color] ="condition ? 'red' : ''">My Self Ashutosh Rawat </h2> -->
<h2 [ngStyle]="myStyles">My Self Ashutosh Rawat </h2>